# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py[co]

# Django stuff:
*.log
*.pot

bower_components/
*.db

# Translations
*.mo
*.po

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*~
bng
*.sqlite3
db.sqlite3
/static/bower_components/
.DS_Store