bleach==1.4.3
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.11.4
django-material==1.1.1
django-tables2==1.14.2
gunicorn==19.6.0
html5lib==0.9999999
Markdown==2.6.6
Pillow==3.3.0
psycopg2==2.6.1
python-decouple==3.0
pytz==2017.3
six==1.11.0
static3==0.7.0
Unipath==1.0
whitenoise==3.2
