{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chirayu Aesthetic Dental Clinic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/dental_studio/css/cdac2.css">
  <link rel="shortcut icon" href="/static/dental_studio/images/favicon.ico">
  <meta name="google-site-verification" content="HU9S0SM8zl9XgSyreD3swQjZh46fYqeD6kZjz1SFGUg" />
{% block head %}
<style>
{% block style %}{% endblock %}

</style>
{% endblock %}
</head>
<body  itemscope itemtype="http://schema.org/Webpage" id="base-cng" >
  {% include "dental_studio/header.html" %}
  {% block body %}{% endblock %}
  <script type="text/javascript">
    $(function() {
      $("li.menu-item").click(function() {
        // remove classes from all
        $("li").removeClass("active");
        // add class to the one we clicked
        $(this).addClass("active");
      });
    });
    {% block script %} {% endblock %}
  </script>

</body>
{% include "dental_studio/footer.html" %}
</html>
