            <div class="row featurette">
              <div class="col-md-5">
                <h2>Working Hours: </h2>
                <style type="text/css">
                table{
                  border-collapse: separate;
                  border-spacing: 10px; /* Apply cell spacing */
                  font-size: 20px;
                }
                table th, table td{
                  padding: 5px; /* Apply cell padding */
                }
                </style>
                <table class="working-hours" >
                  <tr>
                    <td>Monday - Saturday</td>
                    <td> 9:30 AM to 1:00 PM</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td> 5:30 PM to 9:00 PM</td>
                  </tr>

                  <tr>
                    <td>Sunday</td>
                    <td> By Appointment</td>
                  </tr>

                  <tr>
                    <td>Emergency Services</td>
                    <td> By Call</td>
                  </tr>
                </table>

                <h4><span class="glyphicon glyphicon-map-marker"></span>Pammal, Chennai</h4>

              </div>

              <div class="col-md-7">
                <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo9lEHttfUjoRtH2yzyLfzyY&key=AIzaSyCcMA7bCkSLKBsN1syXV1U8xUBw9w_pIcI" allowfullscreen title="Pammal, Chennai" ></iframe>
              </div>
            </div>
