<div class="row featurette">
  <div class="col-lg-5 col-md-5">
    <h4>Availability: </h4>
    <style type="text/css">
    table{
      border-collapse: separate;
      border-spacing: 10px; /* Apply cell spacing */
      font-size: 18px;
    }
    table th, table td{
      padding: 5px; /* Apply cell padding */
    }
    </style>
    <table class="working-hours" >
      <tr>
        <td><span class="glyphicon glyphicon-time"> </span> Monday - Saturday</td>
        <td>9:30 AM to 1:00 PM</td>
      </tr>
      <tr>
        <td></td>
        <td>5:00 PM to 9:00 PM</td>
      </tr>

      <tr>
        <td><span class="glyphicon glyphicon-calendar"></span> Sunday</td>
        <td>By Appointment</td>
      </tr>

      <tr>
        <td><span class="glyphicon glyphicon-phone-alt"></span> Emergency Services</td>
        <td>By Call</td>
      </tr>

      <tr>
        <td><span class="glyphicon glyphicon-map-marker"></span> Pammal, Chennai</td>
      </tr>
    </table>

  </div>

  <div class="col-lg-7 col-md-7">
    <div class="embed-responsive embed-responsive-100x400px">
      <iframe src="https://www.google.com/maps/embed/v1/place?q=Chirayu%20Dental%20Aestheic%20Centre%20%20150%2C%20Pammal%20Main%20Rd%2C%20Pasumpon%20Nagar%2C%20Pammal%2C%20Chennai%20600075%2C%20Tamilnadu&key=AIzaSyBueWmTIqPvbKpxmOurqLVZCFvoaSt_n58" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
