    <div class="navbar navbar-default navbar-fixed-top" role="navigation"> 

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url 'welcome' %}" class="navbar-brand">
            <img src="/static/dental_studio/images/site-logo19.png" alt="site-logo" class="sitelogo">
            <h3 class="site-primary-name"> Chirayu Aesthetic Dental Clinic </h3>
          </a>
          <div class="navbar-collapse collapse"> 
            <ul class="nav navbar-nav"> 
              <li class=" active"><a data-focus-panel="home" href="{% if context == 'home' %} #home {% else %} {% url 'welcome' %}{% endif %}">Home</a></li>
              <li class=""><a data-focus-panel="services" href="{% if context == 'home' %} #services {% else %}  {% url 'welcome'  %}{% endif %}">Treatments</a></li>
              <li class=""><a data-focus-panel="testimonials" href="{% if context == 'home' %} #testimonials {% else %} {% url 'welcome'  %}{% endif %}">Testimonials</a></li>
              <li class=""><a data-focus-panel="about" href="{% if context == 'home' %} #about {% else %} {% url 'welcome'  %}{% endif %}">About</a></li>
              <li class=""><a data-focus-panel="contact" href="{% if context == 'home' %} #contact {% else %} {% url 'welcome'  %}{% endif %}">Contact</a></li>
            <li>
              <a href="{% url 'appointment:create' %}" style="color:red">Book an Appointment</a>
            </li>

            </ul>

          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
    panel_div_ele = $(".menu-item.active").find("a").attr("data-focus-panel");
    $("#"+panel_div_ele).focus()
    </script>
