    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#myNavbar">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <div class="navbar-left navbar-brand"> 
              <img src="/static/dental_studio/images/site-logo.png" alt="site-logo">
            </div>
            <h3 class="brand-name navbar-left"><div class"navbar-left"><strong> Chirayu Dental Aesthetic Centre</strong></div></h3>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#home">Home</a></li>
                <!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Treatments <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </li>
              -->
              <li><a href="#treatments">Treatments</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a class="act-header" href="{% url 'appointment:create' %}">Book Appointment</a></li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>
