<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chirayu Aesthetic Dental Clinic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/dental_studio/css/cdac2.css">


</head>
<!-- NAVBAR
  ================================================== -->
  {% load cdac_tags %}

  {% get_form "Testimonial" as formObj %}
  {% load material_form %} 
  {% load staticfiles material_form %}

  <body>
    {% include "dental_studio/header.html" %}


    <!-- Carousel
      ================================================== -->
      <div class="container" id="home">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/static/dental_studio/images/image10.png" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
              <img src="/static/dental_studio/images/image11-a.png" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
              <img src="/static/dental_studio/images/image12-a.png" alt="Los Angeles" style="width:100%;">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


    <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container">
        <!-- Three columns of text below the carousel -->
        {% include 'dental_studio/services.html' %}
        <hr class="featurette-divider">
        <div class="row featurette marketing">

          <div class="col-md-7" >
            <h3>Take your SMILE Test</h3>
            {% include "dental_studio/smile_test.html" %}
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/static/dental_studio/images/stamp.png"  alt="Generic placeholder image">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette marketing" id="testimonials">
          <h3 class="featurette-heading">Testimonials</h3>
          <div class="col-lg-8 col-md-7" style="height: 450px; overflow-x: auto; overflow-y: auto; overflow-x: hidden;">
          {% include "dental_studio/testimonials.html" %}
          </div>
          <div class="col-lg-4 col-md-5" >
          {% include "dental_studio/add_testimonial.html" %}

          </div>
        </div>
        <hr class="featurette-divider">
        {% include "dental_studio/profile.html" %}
        <hr class="featurette-divider">
        {% include "dental_studio/contact.html" %}
        <hr class="featurette-divider">
        <!-- FOOTER -->
        {% include "dental_studio/footer.html" %}
      </div>


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </body>
    </html>
