          <div class="row featurette marketing" id="about">
            <div class="col-md-7">
              <h2 class="featurette-heading">Dr. Rajlaxmi Katkam Ghone</h2> <h4>Specialization in Aesthetic Dentistry, B.D.S (Mumbai)</h4>
              <br/>

              <div class="text-muted">
                <ul>
                  <li><h4>Practising since 8 years.</h4></li>
                  <li><h4>Post-graduate Program in Aesthetic Dentistry</h4></li>
                  <ul>
                    <li><h4>State University of New York, Buffalo, New York</h4></li>
                  </ul>
                  <li><h4> Bachelor of Dental Surgery</h4></li>
                  <ul>
                    <li><h4>Dr. D. Y. Patil Dental College and Hospital, Mumbai</li></h4></ul>
                  </ul>
                  <br/>
              </div>
              <div class="pull-left">
              <h6 style="color: black;">Member</h6>
              <img src="/static/dental_studio/images/ida.png" style="width:20%;" alt="Member of Indian Dental Association">
              </div>

            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="/static/dental_studio/images/small-dentist.jpg" alt="Generic placeholder image">

            </div>
          </div>
