	<div class="row">
		<div class="col-sm-4">

				<h4 style="color: #247aa2; margin-top: -10px; margin-bottom: 30px;">Know your Dentist</h4>
			<div class="row text-center">
				<img src="/static/dental_studio/images/profile.jpg" class="img-circle" alt="Bird" style="width: 50%">
			</div>
		</div>
		<div class="col-sm-8">
			<p>
				<br/>      
				<h4 class="dr-title">Dr. Rajlaxmi Katkam Ghone</h4> <h5>Specialization in Aesthetic Dentistry, B.D.S (Mumbai)</h5><br/>
				<div class="dr-details">
					<h5>Practising since 8 years.</h5>
					<h5>Post-graduate Program in Aesthetic Dentistry</h5>
					<h5 class="loc-details">State University of New York, Buffalo, New York</h5>
					<h5> Bachelor of Dental Surgery</h5>
					<h5 class="loc-details">Dr. D. Y. Patil Dental College and Hospital, Mumbai</h5>
					<br/>
					<h6 style="color: black;">Member</h6>
					<img src="/static/dental_studio/images/ida.png" style="width:10%;" alt="Member of Indian Dental Association">
				</div>
			</p>
		</div>
	</div>
