          <div class="row featurette marketing" id="about">
            <div class="col-md-7">
              <h2 class="featurette-heading">Dr. Rajlaxmi Katkam Ghone</h2> <h3>Specialization in Aesthetic Dentistry, B.D.S (Mumbai)</h3>
              <br/>

              <div class="text-muted">
                <ul>
                  <li><h3>Practising since 8 years.</h3></li>
                  <li><h3>Post-graduate Program in Aesthetic Dentistry</h3></li>
                  <ul>
                    <li><h3>State University of New York, Buffalo, New York</h3></li>
                  </ul>
                  <li><h3> Bachelor of Dental Surgery</h3></li>
                  <ul>
                    <li><h3>Dr. D. Y. Patil Dental College and Hospital, Mumbai</li></h3></ul>
                  </ul>
                  <br/>
              </div>

            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="/static/dental_studio/images/small-dentist.jpg" alt="Generic placeholder image">
                  <div class="pull-right">
                    
                  <h6 style="color: black;">Member</h6>
                  <img src="/static/dental_studio/images/ida.png" style="width:20%;" alt="Member of Indian Dental Association">
                  </div>

            </div>
          </div>
