        <div id="treatments">
            <!--<h3>Services</h3>-->
            <br/>
          <div class="row featurette marketing">

            <div class="col-lg-4 col-md-4">
              <img src="/static/dental_studio/images/treatment.svg" alt="Generic placeholder image" width="200" height="200">
              <h4>Treatment</h4>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 col-md-4 -->
            <div class="col-lg-4 col-md-4">
              <img src="/static/dental_studio/images/dental_fillings.svg" alt="Generic placeholder image" width="200" height="200">
              <h4>Dental Fillings</h4>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 col-md-4 -->
            <div class="col-lg-4 col-md-4">
              <img src="/static/dental_studio/images/teeth_whitening.svg" alt="Generic placeholder image" width="200" height="200">
              <h4>Teeth Whitening</h4>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 col-md-4 -->
          </div>
          <div class="row featurette marketing">
            <div class="col-lg-4 col-md-4">
              <img src="/static/dental_studio/images/gingivitis.svg" alt="Generic placeholder image" width="200" height="200">
              <h4>Gingivitis</h4>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 col-md-4 -->
            <div class="col-lg-4 col-md-4">
              <img src="/static/dental_studio/images/periodontology.svg" alt="Generic placeholder image" width="200" height="200">
              <h4>Periodontology</h4>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 col-md-4 -->
            <div class="col-lg-4 col-md-4">
              <img src="/static/dental_studio/images/oral_hygiene.svg" alt="Generic placeholder image" width="200" height="200">
              <h4>Oral Hygiene</h4>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 col-md-6 -->
          </div>
        </div>
