        <div id="treatments">
          
        <div class="row featurette">
          <h2>Treatments</h2>

          <div class="col-lg-3 col-md-6">
            <img src="/static/dental_studio/images/treatment.svg" alt="Generic placeholder image" width="200" height="200">
            <h2>Treatment</h2>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-3 col-md-6 -->
          <div class="col-lg-3 col-md-6">
            <img src="/static/dental_studio/images/dental_fillings.svg" alt="Generic placeholder image" width="200" height="200">
            <h2>Dental Fillings</h2>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-3 col-md-6 -->
          <div class="col-lg-3 col-md-6">
            <img src="/static/dental_studio/images/teeth_whitening.svg" alt="Generic placeholder image" width="200" height="200">
            <h2>Teeth Whitening</h2>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-3 col-md-6 -->
          <div class="col-lg-3 col-md-6">
            <img src="/static/dental_studio/images/gingivitis.svg" alt="Generic placeholder image" width="200" height="200">
            <h2>Gingivitis</h2>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-3 col-md-6 -->

        </div><!-- /.row -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <img src="/static/dental_studio/images/periodontology.svg" alt="Generic placeholder image" width="200" height="200">
            <h2>Periodontology</h2>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-3 col-md-6 -->
          <div class="col-lg-3 col-md-6">
            <img src="/static/dental_studio/images/oral_hygiene.svg" alt="Generic placeholder image" width="200" height="200">
            <h2>Oral Hygiene</h2>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-3 col-md-6 -->


        </div><!-- /.row -->
        </div>
