            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >


              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Does it pain after a cold sip ?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p class="smile-test-content">
                    Sensitive teeth can be a burden for many people and can be caused by several things. It is always important to seek advice from a dental professional so the source of the problem can be identified and treated. One cause of sensitivity is dental erosion, which is the loss of tooth enamel. </p></div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Do you brush twice a day?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p class="smile-test-content">
                      Great! You are good at Maintaining a fresh breath, Prevent gum disease and also Remove teeth stains.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Do you use floss regularly?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <p class="smile-test-content">
                      Regular use of dental floss removes plaque, helping to prevent the buildup of plaque, which can lead to tartar. Simply flossing your teeth can make them look brighter by removing plaque and excess food particles that you may not see in the mirror or in areas that your toothbrush doesn’t reach.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Do you need toothpick after every meal?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <p class="smile-test-content">
                      A toothpick should only be used to dislodge large food particles between teeth. It should be used in a way so that the gums or teeth are not harmed. If you have large spaces where food gets caught constantly you can talk to your dentist about ways to close them. </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Are you happy with your smile ?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <p class="smile-test-content">
                      Yes. We love your smile! Your dentist is popular and has speciailzation in Aesthetic Dentistry, so if you have any doubt, visit us, we together will make it Perfect if needed. </p>
                    </div>
                  </div>
                </div>



              </div>
