{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Chirayu Dental Aesthetic Clinic - Dr. Rajlaxmi Ghone {% block title %} {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="/static/dental_studio/bower_components/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/dental_studio/bower_components/bootstrap/dist/css/bootstrap.css"  >
  <link rel="stylesheet" href="/static/dental_studio/bower_components/bootstrap/dist/css/bootstrap.min.css"  >
  <script src="/static/dental_studio/bower_components/bootstrap/dist/js/bootstrap.min.js"  ></script>
  <link rel="stylesheet" href="/static/dental_studio/css/cdac.css"  >
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="/static/dental_studio/bower_components/font-awesome/css/font-awesome.min.css">

  {% block head %}

  <style>
  {% block style %}{% endblock %}

</style>
{% endblock %}
</head>
<body  itemscope itemtype="http://schema.org/Webpage" id="base-cng" data-spy="scroll" data-target=".navbar" data-offset="60">
  {% include "dental_studio/header.html" %}
  {% block body %}{% endblock %}
  {% include "dental_studio/footer.html" %}
<script type="text/javascript">

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
      if (pos < winTop + 600) {
        $(this).addClass("slide");
      }
    });
  });
  $(function() {
    $("li.menu-item").click(function() {
      // remove classes from all
      $("li").removeClass("active-menu");
      // add class to the one we clicked
      $(this).addClass("active-menu");
    });
  });
      {% block script %} {% endblock %}
</script>

</body>
</html>
