  <div class="row">
    <div class="col-sm-5">
      <p>Working Hours: </p>
      <table class="working-hours" cellspacing="10">
          <tr>
            <td>Monday - Saturday</td>
            <td> 9:00 AM to 9:00 PM</td>
          </tr>

          <tr>
            <td>Sunday</td>
            <td> By Appointment</td>
          </tr>

          <tr>
            <td>Emergency Services</td>
            <td> By Call</td>
          </tr>
      </table>
      <br/>
      <p><span class="glyphicon glyphicon-map-marker"></span> Pammal, Chennai</p>
      <p><span class="glyphicon glyphicon-envelope"></span> drlaxmi@chirayusmiles.com</p>
    </div>
    <div class="col-sm-7">
<iframe width="800" height="400" frameborder="0" style="border:0;margin-top: -35px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo9lEHttfUjoRtH2yzyLfzyY&key=AIzaSyCcMA7bCkSLKBsN1syXV1U8xUBw9w_pIcI" allowfullscreen></iframe>
    </div>
  </div>
