<footer class="container-fluid text-center footer">
<hr/>
  <div class="row">
    <div class="col-sm-8">
      <h3>Reach Us: </h3>
      <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i>
      <i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i> 
      <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i>
    </div>
    <div class="col-sm-4">
      <a href="#base-cng" title="To Top">
        <span class="glyphicon glyphicon-chevron-up scrollToTop"><p style="display: inline-block;">Top</p></span>
      </a>
      <p>All rights reserved 2017.</p>
    </div>
  </div>
</footer>
<script type="text/javascript">
  //Click event to scroll to top
  $('.scrollToTop').click(function(){
    $('html, body').animate({scrollTop : 0},800);
    return false;
  });
</script>
