  <div class="row navbar-static-bottom fixed-bottom">
    <div class="col-sm-8">
      <h3>Reach Us: </h3>
      <a href="https://www.facebook.com/BuzzFeedReasonstoSmile/?hc_ref=ARSnqiSCA4Bf1y9yqNEV_E79rb6oit_tSVjLrRK3VRtVpjN8yWPuAwHJaKLOlkS6Fag&fref=nf"><i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i></a>
      {# <i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i>  #}
      <a href="https://www.linkedin.com/in/rajlaxmi-katkam-ghone-82ba1082/"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i></a>
    </div>
    <div class="col-sm-4">
      <a href="#base-cng" title="To Top">
        <span class="glyphicon glyphicon-chevron-up scrollToTop"><p style="display: inline-block;">Top</p></span>
      </a>
      <p> Chirayu Dental Aesthetic Clinic <i class="fa fa-copyright" aria-hidden="true"></i> 2017</p>
      <p> Powered by <a href="https://github.com/katkamrachana/cng">katkamrachana</a> </p>
    </div>
  </div>
<script type="text/javascript">
  //Click event to scroll to top
  $('.scrollToTop').click(function(){
    $('html, body').animate({scrollTop : 0},800);
    return false;
  });
</script>
