<nav class="navbar navbar-fixed-top navbar-default site-nav">
  <div class="navbar-header">
    <a href="{% url 'welcome' %}" class="navbar-brand">
      <img src="/static/dental_studio/images/site-logo19.png" alt="site-logo" class="sitelogo">
          </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" navbar-left>
    <ul class="nav navbar-nav">
            <li class="menu-item active"><a data-focus-panel="home" href="{% if context == 'home' %} #home {% else %} {% url 'welcome' %}{% endif %}">Home</a></li>
            <li class="menu-item"><a data-focus-panel="services" href="{% if context == 'home' %} #services {% else %}  {% url 'welcome'  %}{% endif %}">Treatments</a></li>
            <li class="menu-item"><a data-focus-panel="testimonials" href="{% if context == 'home' %} #testimonials {% else %} {% url 'welcome'  %}{% endif %}">Testimonials</a></li>
            <li class="menu-item"><a data-focus-panel="about" href="{% if context == 'home' %} #about {% else %} {% url 'welcome'  %}{% endif %}">About</a></li>
            <li class="menu-item"><a data-focus-panel="contact" href="{% if context == 'home' %} #contact {% else %} {% url 'welcome'  %}{% endif %}">Contact</a></li>
    </ul>
  </div>
</nav>


