<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/static/dental_studio/bower_components/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/dental_studio/bower_components/bootstrap/dist/css/bootstrap.css"  >
	<script src="/static/dental_studio/bower_components/bootstrap/dist/js/bootstrap.min.js"  ></script>
	<script src="/static/dental_studio/bower_components/bootstrap/js/transition.js"  ></script>
	<link rel="stylesheet" href="/static/dental_studio/css/cdac.css"  >
</head>
<body>
	<div class="row">
		<div class="col-sm-1">
				<a class="navbar-brand" href="#"><img src="https://i.pinimg.com/736x/4b/bc/2b/4bbc2bbde977f46863f6783a31854ea9--dentist-logo-logo-inspiration.jpg" style="width: 120px"></a>
		</div>
		<div class="col-sm-11 nav-header ">
			<nav class="navbar">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><a href="www.google.com" target="_blank">Home</a></li>
						<li><a href="www.yahoo.com" target="_blank">Page 1</a></li>
						<li><a href="www.facebook.com" target="_blank">Page 2</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
<!-- 	<div class="container">
		<h1>My First Bootstrap Page</h1>
		<p>This is some text.</p> 
	</div>
	<div class="row">
		<div class="col-sm-4">.col-sm-4</div>
		<div class="col-sm-4">.col-sm-4</div>
		<div class="col-sm-4">.col-sm-4</div>
	</div>
-->

</body>
</html>