<!DOCTYPE html>
<html lang="en">
<head>
	<title>CDAC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/static/dental_studio/bower_components/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/dental_studio/bower_components/bootstrap/dist/css/bootstrap.css"  >
	<script src="/static/dental_studio/bower_components/bootstrap/dist/js/bootstrap.min.js"  ></script>
	<link rel="stylesheet" href="/static/dental_studio/css/cng.css"  >
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Treatments</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group input-group">
						<input type="text" class="form-control" placeholder="Search..">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>        
					</div>
				</form>

			</div>
		</div>
	</nav>


	<div class="container text-center">    
		<div class="row">
			<div class="col-sm-3 well">
				<div class="well">
					<p><a href="#">About your Doctor</a></p>
					<img src="/static/dental_studio/images/rk7.png" class="img-circle" alt="Dr." height="150px">
					<p>Dr. Rajlaxmi Ghone.<br>B.D.S, Mumbai.</p>
				</div>
				<div class="well">
					<p><a href="#">Interests</a></p>
					<p>
						<span class="label label-default">News</span>
						<span class="label label-primary">W3Schools</span>
						<span class="label label-success">Labels</span>
						<span class="label label-info">Football</span>
						<span class="label label-warning">Gaming</span>
						<span class="label label-danger">Friends</span>
					</p>
				</div>
			</div>
			<div class="col-sm-7">

				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default text-left">
	<div class="container">
	  <h2>Carousel Example</h2>  
	  <div id="myCarousel" class="carousel" data-ride="carousel">
	    <!-- Indicators -->

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner">
	      <div class="item text-center active">
	        <img src="/static/dental_studio/images/cng2.jpg" alt="Los Angeles" style="width: 250px">
	      </div>

	      <div class="item text-center">
	        <img src="/static/dental_studio/images/cng3.jpg" alt="Chicago" style="width: 250px">
	      </div>
	      <div class="item text-center">
	        <img src="/static/dental_studio/images/cng4.jpg" alt="Chicago" style="width: 250px">
	      </div>
	    
	    </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right"></span>
	      <span class="sr-only">Next</span>
	    </a>
	  </div>
	</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<div class="well">
							<p>John</p>
							<img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
						</div>
					</div>
					<div class="col-sm-9">
						<div class="well">
							<p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="well">
							<p>Bo</p>
							<img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
						</div>
					</div>
					<div class="col-sm-9">
						<div class="well">
							<p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 well">
				<div class="thumbnail">
					<p>Avail 25% Discount!</p>
					<p><strong>Book Appointment Online!</strong></p>
					<button class="btn btn-primary">Book</button>
				</div>      
				<div class="well">
					<p>Get Price Estimate</p>
				</div>
				<div class="well">
					<p>ADS</p>
				</div>
			</div>
		</div>
	</div>


	<footer class="container-fluid text-center">
		<p>Footer Text</p>
	</footer>

</body>
</html>
