{% extends "dental_studio/base.html" %}
{% block body %}
<div class="dashboard-panel" style="margin: 75px 0px 0px 30px;">
  <h2>Dr. Rajlaxmi Katkam Ghone</h2>
  <div id="wrapper" class="active toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li>
          <a id="admin_dashboard" href="{% url 'laod_dashboard' %}">Dashboard</a>
        </li>
        <li>
          <a id="appt_dashboard" href="#">Appointments</a>
        </li>
        <li>
          <a id="patients_dashboard" href="#">Patients</a>
        </li>
        <li>
          <a id="visits_dashboard" href="#"> Visits</a>
        </li>
        <li>
          <a id="visits_dashboard" href="#"> Treatments</a>
        </li>
        <li>
          <a id="testimonials_dashboard" href="#"> Testimonials</a>
        </li>
      </ul>
    </div>
    <div class="content-area">
      {% block dashboard_content %}
      {% endblock %}
    </div>

  </div>
</div>
{% endblock %}