{% extends "dental_studio/base.html" %}
{% load material_form %} 
{% load staticfiles material_form %}
{% block body %}
<div class="form-container" style="margin: 100px 0px 0px 75px; width: 50%;">
	<div class="row">
	{% if "appointment" in action_url %}
		<div class="col-sm-4">
			<h4>Appointment Request Form</h4><br/>
			<img src="/static/dental_studio/images/appt.svg" style="width: 60h%;" />
		</div>


	{% endif %}
	<div class="col-sm-8">

	{{ form.non_field_errors }}
	<form method="POST" class="viewform" action="{% url action_url %}">{% csrf_token %}
		{% form form=form %}{% endform %}
		<button type="submit" name="_submit" class="btn btn-primary btn-lg">Submit</button>
	</form>
</div>
	</div>
</div>
{% endblock %}

