<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Chirayu Dental Aesthetic Clinic - Dr. Rajlaxmi Ghone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="/static/dental_studio/bower_components/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/dental_studio/bower_components/bootstrap/dist/css/bootstrap.css"  >
  <link rel="stylesheet" href="/static/dental_studio/bower_components/bootstrap/dist/css/bootstrap.min.css"  >
  <script src="/static/dental_studio/bower_components/bootstrap/dist/js/bootstrap.min.js"  ></script>
  <link rel="stylesheet" href="/static/dental_studio/css/cdac.css"  >
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="/static/dental_studio/bower_components/font-awesome/css/font-awesome.min.css">

  <style>
</style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  {% include "dental_studio/header.html" %}
  <div id="home" class="row">
    <div id="myCarousel" class="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img class="img-fluid" src="/static/dental_studio/images/corl4.jpg" alt="Chania" style="margin-top: 3%; width: 45%;">
        </div>
        <div class="item">
          <img class="img-fluid" src="/static/dental_studio/images/corl3.jpg" alt="Chania" style="margin-top: 3%; width: 45%;">
        </div>
        <div class="item">
          <img class="img-fluid" src="/static/dental_studio/images/corl5.jpg" alt="Chania" style="margin-top: 3%; width: 45%;">
        </div>


      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Container (Treatments Section) -->
  <div id="services" class="container-fluid text-center">
    <h2>Dental Services</h2>
    {% include "dental_studio/services.html" %}
  </div>

  <!-- Testimonials (About Section) -->
  <div id="testimonials" class="container-fluid" style="background-color: snow;">

    <div class="col-sm-8">
      <h3>Testimonials</h3>
      {% include "dental_studio/testimonials.html" %}
    </div>

    <div class="col-sm-4">
      <h3>Take your SMILE Test</h3>
      <div class="col-md-8" id="main">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Are you happy with your smile ?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Do you use a toothpick after every meal?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Does it pain after a cold sip ?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Do you brush twice a day?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingfive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Do you use floss regularly?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Do you use a toothpick after every meal?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="container-fluid"  style="background-color: aliceblue;">
    <div class="row">
      <div class="col-sm-4">

        <div class="row text-center">
          <h3>Know your Dentist</h3><br>
          <img src="/static/dental_studio/images/profile.jpg" class="img-circle" alt="Bird" style="width: 50%">
        </div>
      </div>
      <div class="col-sm-8">
        <p>
          <br/>      
          <p class="dr-title">Dr. Rajlaxmi Katkam Ghone</p>
          <div class="dr-details">
            <h3>Practising since 8 years.</h3>
            <h3>Post-graduate Program in Aesthetic Dentistry</h3>
            <h3 class="loc-details">State University of New York, Buffalo, New York</h3>
            <h3> Bachelor of Dental Surgery</h3>
            <h3 class="loc-details">Dr. D. Y. Patil Dental College and Hospital, Mumbai</h3>
          </div>
        </p>
      </div>
    </div>
  </div>

  <!-- Map and Contact Form (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    {% include "dental_studio/contact.html" %}

  </div>

  <!-- Add Google Maps -->
<!-- <div id="googleMap" style="height:400px;width:100%;"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(41.878114, -87.629798);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
 --><!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<footer class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-8">
      <h3>Reach Us: </h3>
      <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i>
      <i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i> 
      <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 60px; margin-left: 30px;"></i>
    </div>
    <div class="col-sm-4">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span><p style="display: inline-block;">Go to Top</p>
      </a>
      <p>All rights reserved 2017.</p>
    </div>
  </div>
</footer>

<script>

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
      if (pos < winTop + 600) {
        $(this).addClass("slide");
      }
    });
  });
  $(function() {
    $("li.menu-item").click(function() {
      // remove classes from all
      $("li").removeClass("active-menu");
      // add class to the one we clicked
      $(this).addClass("active-menu");
    });
  });
</script>

</body>
</html>
