	<div class="row">
		<div class="col-sm-4">

			<div class="row text-center">
				<h3>Know your Dentist</h3><br>
				<img src="/static/dental_studio/images/profile.jpg" class="img-circle" alt="Bird" style="width: 50%">
			</div>
		</div>
		<div class="col-sm-8">
			<p>
				<br/>      
				<p class="dr-title">Dr. Rajlaxmi Katkam Ghone</p>
				<div class="dr-details">
					<h3>Practising since 8 years.</h3>
					<h3>Post-graduate Program in Aesthetic Dentistry</h3>
					<h3 class="loc-details">State University of New York, Buffalo, New York</h3>
					<h3> Bachelor of Dental Surgery</h3>
					<h3 class="loc-details">Dr. D. Y. Patil Dental College and Hospital, Mumbai</h3>
				</div>
			</p>
		</div>
	</div>
