    <div class="dental-services-icons">
    <div class="row">
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/dental_fillings.svg" style="width: 60%;" />
        <h3>Dental Fillings</h3>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/dental_implants.svg" style="width: 60%;" />
        <h3>Dental Implants</h3>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/gingivitis.svg" style="width: 60%;" />
        <h3>Gingivitis</h3>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/oral_hygiene.svg" style="width: 60%;" />
        <h3>Oral Hygiene</h3>
      </div>
    </div>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/periodontology.svg" style="width: 60%;" />
        <h3>Periodontology</h3>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/teeth_whitening.svg" style="width: 60%;" />
        <h3>Teeth Whitening</h3>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/treatment.svg" style="width: 60%;" />
        <h3>Treatment</h3>
      </div>
      <div class="col-sm-3"><br/>
        <h3><a href="#"> Get Price Estimation</a></h3><br/>
        <h2><a href="{% url 'appointment:create' %}"> Book an Appointment</a></h2>
      </div>
    </div>
    </div>
