    <div class="dental-services-icons" style="margin-left: 85px;">
    <div class="row">
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/treatment.svg" style="width: 45%;" alt="Treatment" />
        <h5 style="color: #247aa2;">Treatment</h5>
      </div>

      <div class="col-sm-3">
        <img src="/static/dental_studio/images/dental_fillings.svg" style="width: 45%;" alt="Dental Fillings" />
        <h5 style="color: #247aa2;">Dental Fillings</h5>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/teeth_whitening.svg" style="width: 45%;" alt="Teeth Whitening" />
        <h5 style="color: #247aa2;">Teeth Whitening</h5>
      </div>

      <div class="col-sm-3">
        <img src="/static/dental_studio/images/oral_hygiene.svg" style="width: 45%;" alt="Oral Hygiene" />
        <h5 style="color: #247aa2;">Oral Hygiene</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/gingivitis.svg" style="width: 45%;" alt="Gingivitis" />
        <h5 style="color: #247aa2;">Gingivitis</h5>
      </div>

      <div class="col-sm-3">
        <img src="/static/dental_studio/images/periodontology.svg" style="width: 45%;" alt="Periodontology" />
        <h5 style="color: #247aa2;">Periodontology</h5>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/dental_implants.svg" style="width: 45%;" alt="Dental Implants" />
        <h5 style="color: #247aa2;">Dental Implants</h5>
      </div>

      <div class="col-sm-3">
        {# <h4><a href="#" style="color: #247aa2;"> Get Price Estimation</a></h4> #}
        <h3><a href="{% url 'appointment:create' %}" style="color: #247aa2;"> Book an Appointment</a></h3>
      </div>
    </div>
    </div>
