    <div class="dental-services-icons">
    <div class="row">
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/treatment.svg" class="service-img" alt="Treatment" />
        <h5 style="color: #247aa2;">Treatment</h5>
      </div>

      <div class="col-sm-3">
        <img src="/static/dental_studio/images/dental_fillings.svg" class="service-img" alt="Dental Fillings" />
        <h5 style="color: #247aa2;">Dental Fillings</h5>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/teeth_whitening.svg" class="service-img" alt="Teeth Whitening" />
        <h5 style="color: #247aa2;">Teeth Whitening</h5>
      </div>

      <div class="col-sm-3">
        <img src="/static/dental_studio/images/oral_hygiene.svg" class="service-img" alt="Oral Hygiene" />
        <h5 style="color: #247aa2;">Oral Hygiene</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/gingivitis.svg" class="service-img" alt="Gingivitis" />
        <h5 style="color: #247aa2;">Gingivitis</h5>
      </div>

      <div class="col-sm-3">
        <img src="/static/dental_studio/images/periodontology.svg" class="service-img" alt="Periodontology" />
        <h5 style="color: #247aa2;">Periodontology</h5>
      </div>
      <div class="col-sm-3">
        <img src="/static/dental_studio/images/dental_implants.svg" class="service-img" alt="Dental Implants" />
        <h5 style="color: #247aa2;">Dental Implants</h5>
      </div>

      <div class="col-sm-3">
        {# <h4><a href="#" style="color: #247aa2;"> Get Price Estimation</a></h4> #}
        <h4 style="color: #247aa2; margin-top: 75px; margin-left: -55px;"><a href="{% url 'appointment:create' %}" style="color: #247aa2;"> Book an Appointment</a></h4 style="">
      </div>
    </div>
    </div>
