{% load get_testimonials from cdac_tags %}

      <div style="height: 450px; overflow-x: auto; margin-top: 2%; overflow-y: auto; overflow-x: hidden;" id="testimonials">
        {% get_testimonials as all_testimonials %}

        {% for each_testimonials in all_testimonials %}
          <div class="row">
            <div class="col-sm-2 text-center">
              <img src="/static/dental_studio/images/profile.jpg" class="img-circle" alt="Bird" width="100px">
            </div>        
            <div class="col-sm-10">
              <h4><i>Fantastic service</i></h4>
              <p>{{each_testimonials}}</p>
            </div>        
          </div>
        {% endfor %}

        <div class="row text-center">
        <a href="#" class="load-testimonials">Read More ..</a>
        </div>
      </div>
<script type="text/javascript">
  $(document).on('click','.load-testimonials',function(){
    $(".testimonial-copy").removeClass("hide");
    $(this).text("See Less").removeClass("load-testimonials").addClass("hide-testimonials")
    $(this).href("#testimonials")
  })

  $(document).on('click','.hide-testimonials',function(){
    $(".testimonial-copy").addClass("hide");
    $(this).text("Read More ..").removeClass("hide-testimonials").addClass("load-testimonials")
    $(this).href("#testimonials")
  })
</script>