.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.act-header{
	font-weight: bold;
	color: red !important;
}

@media screen and (max-width: 460px) and (min-width: 320px) {
	#home{
		padding-top: 20%;
	}
}

@media screen and (max-width: 560px) and (min-width: 461px){
	#home{
		padding-top: 6%;
	}
}

@media screen and (max-width: 800px) and (min-width: 561px){
	#home{
		padding-top: 6%;
	}
}

.embed-responsive-100x400px{
  padding-bottom: 400px;
}
